.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    
    gap: 0px;
  }
}

.items {
  display: flex;
  flex-grow: 0.5;
}

.spacer_edge {
  flex-grow: 1;
  
}